*{
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
  font-family: 'poppins', sans-serif;
}

nav{
  display: flex;
  position: relative;
  padding: 2% 6%;
  height: 80px;
  justify-content: space-between;
  align-items: center;
  background-color: #9ef01a;
}

.logo{
  text-decoration: none;
  font-weight: 700;
  font-size: 30px;
  color: white;
}

.nav-links a{
  flex: 1;
  text-align: right;
  color: white;
  scroll-behavior: smooth;
}

.nav-links a{
  display: inline-block;
  padding: 8px 12px;
  text-decoration: none;
  font-size: 21px;
  font-weight: 550;
}

.nav-links a:hover{
  color: rgb(8, 60, 214);
}

.Intro{
  min-height: 100vh;
  width: 100%;
  background-image: url(smart\ irrrigation\ system.png);
  background-position: center;
  background-size: cover;
  position: relative;
}

.text-box h1{
  color: blue;
  background-image: linear-gradient(180deg, rgb(161, 250, 161), yellow);
  position: absolute;
  top: 38%;
  left: 23%;
  font-size: 65px;
  border-radius: 10px;
  text-align: center;
}

.text-box p{
  color: blue;
  background-color: #b9fbc0;
  position: absolute;
  top: 50%;
  left: 9%;
  right: 9%;
  font-size: 21px;
  text-align: center;
  margin-top: 20px;
  border-radius: 15px;
}

.problem{
  background-color: #fafaff;
  padding: 70px 30px 30px 30px;
  text-align: center;
  line-height: 1;
  font-size: 40px;
  margin-bottom: 30px;
}

.sub-title{
  text-align: center;
  font-size: 60px;
  padding-bottom: 40px;
  color: #3a0ca3;    
}

.problem div{
  height: 60vh;
  font-size: 30px;
  background-color: #9ef01a;
  margin-left: 125px;
  width: 80%;
  color:#3a0ca3;
  padding: 35px;
}

.prototype{
  background-color: #fafaff;
  padding: 30px 30px 30px 30px;
  text-align: center;
  line-height: 1;
  font-size: 40px;
  margin-bottom: 30px;
}

#proto{
  height: 304px;
  width: 600px;
}

.column {
  float: left;
  width: 45%;
  height: 60%;
  padding: 95px;
  background-color: #9ef01a;
}
.row{
  margin-left: 100px;
}
.prototype h3{
  display: inline-block;
  margin-top: 10px;
  padding: 10px;
  color: #fafaff;
  font-size: 28px;
  background-color: blue;
  border-radius: 12px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

.Container{
  padding: 90px;
  background-color: #fafaff;
}

.component-list{
  display: grid;
  grid-template-columns: repeat(4, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 20px;
}
.component-list h2{
  color: cyan;
  padding: 5px;
  margin-bottom: 5px;
  justify-content: center;
}
.component-list img{
  height: 250px;
  width: 270px;
  object-fit: contain;
  padding: 5px;
}

.component-list div{
  background-color: #05079c;
  padding: 10px;
  font-size: 15px;
  font-weight: 12px;
  border-right: 10px;
  border-radius: 2px;
  color:aquamarine;
}

.application{
  background-color: #fafaff;
  height: 100vh;
}
.advantage{
  background-color: #9ef01a;
  margin-left: 140px;
  width: 80%;
  font-size: 27px;
  color:#3a0ca3;
  padding: 20px;
}

.futurescope{
  background-color: #fafaff;
  height: 70vh;
}
.scope{
  background-color: #9ef01a;
  margin-left: 140px;
  width: 80%;
  font-size: 27px;
  color:#3a0ca3;
  padding: 20px;
}
.footer{
  width: 100%;
  text-align: center;
  padding: 25px 0;
  background: #05079c;
  color: white;
  font-weight: 300;
  margin-top: 70px;
}